/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
	line-height: 1.7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .menu__left{
        width: 220px;
    }
    .conntainer{
        width: calc(100% - 269px);
    }
    .header{
        max-width: 931px;
        height: 128px;
        margin-top: 30px;
        color: #7B7B7B;
       &__notification{
        display: flex;
        justify-content: space-between;
        &__left{
            margin-left: 0px;
            &__home{
                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                img{
                    width: 17.87px;
                    height: 15.89px;
                }
                &__text{
                    font-size: 14px;
                }
            }
        }
        &__right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 0px;
            &__share{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__text{
                    font-size: 14px;
                }
                &__icon{
                   margin-left: 10px;
                   width: 14px;
                   height: 14px;
                }
               }
            &__email{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__text{
                    font-size: 14px;
                }
                &__icon{
                    margin-left: 10px;
                    width: 20px;
                    height: 15px;
                }
            }
        }
       }
       &__search{
        margin-top: 12px;
        height: 90px;
        display: flex;
        background-color: #EAF1F7;
        border-radius: 50px;
        &__question{
            padding: 35px;
            margin-left: 0px;
            margin-right: 0px;
            &__text{
                margin-left: 50px;
                font-size: 16px;
                color:#333333;
            }
        }
        &__input{
            color: #7B7B7B;
            margin-left: -13px;
            position: relative;
            display: flex;
            align-items: center;
            img{
                filter: sepia(100%) hue-rotate(0deg) saturate(0%);
                position: absolute;
                top: 36px;
                left: 20px;
                width: 18.31px;
                height: 18.31px;
            }
            input{
                border-radius: 40px;
                border:1px solid #7B7B7B;;
                width: 376px;
                height: 46px;
                padding-left: 46px;
            }
            button{
                color: #fff;
                background-color: #42A7C2;
                padding:16px 34px;
                margin-left: 13px;
                border: none;
                border-radius: 10px;
            }
        }
       }
    }
    main{
        .slide{
                margin: 65px 1px 23px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 137.4px;
                &__image{
                    img{
                        width: 189.68px;
                        height: 148.61px;
                    }
                }
                &__text{
                    p{
                        color: #42A7C2;
                        font-size: 26px;
                        margin-left: 21.3px;
                    }
                    span{
                        margin:13px 20.9px;
                        font-size: 16px;
                    }
            }
        }
        .feature{
            color: #42A7C2;
            font-size: 18px;
            margin-top: 24px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            &__item{
                width: 31.25%;
                border: 1px solid #42A7C2;
                padding: 15px 48px;
                border-radius: 15px;
                text-align: center;
                line-height: 1.6;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                figure{
                   margin: 6px;
                }
                svg {
                    display: block;
                }
            }
        }
        .charts{
            color: #42A7C2;
            max-width: 930px;
            height: 305px;
            &__title{
                p{
                    margin: 22px 0 20px;
                    font-size: 20px;
                }
            }
            &__list{
                display: flex;
                justify-content: flex-start;
                .item__content {
                    margin: 34px auto 20px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                &__item{
                    width: 25%;
                    background-color: #EAF1F7;
                    border-radius: 10px;
                    text-align: center;
                    margin-right: 17px;
                    :last-child {
                        margin-right: 0
                    }
                    figure {
                        max-width: 134.97px;
                        margin: 0 10px 24px 10px;
                        min-height: 60px;
                    }
                    img{
                        
                        width: 100%;
                        height: auto;
                        // height: 60.8px;
                    }
                    span{
                        width: 100%;
                    }
                }
            }
        }
        .role{
            // margin-left: 630px;
            max-width:930.5px;
            color: #42A7C2;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(350px,2fr));
            &__item{
                max-width: 457.5px;
                &__title{
                    p{
                        font-size: 20px;
                    }
                }
                &__list{
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    footer{
        margin-top: 170px;
        background-color: #333333;
        max-width: 1920px;
        height: 74.82px;
        .footer__background{
            position: relative;
            span{
                position: absolute;
                top: 36px;
                left: 64.5%;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}